@import '../../styles/variables';


.mine-page {

    .epoch-content {
        max-width: 1400px;
        width: 100%;
        height: 40px;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);

        @media screen and (max-width: $MobileWidth-M) {
            position: relative;
            margin-bottom: 16px;
        }

        .epoch {
            background: #FFFFFF;
            border: 1px solid rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            border-radius: 15px;
            height: 40px;
            font-size: 14px;
            text-align: center;
            display: flex;
            max-width: 338px;
            line-height: 40px;
            padding: 0 12px;
            position: absolute;
            right: 26px;
            top: 32px;

            .ant-statistic-content {
                font-size: 14px !important;
                height: 40px;
                line-height: 40px;

                .ant-statistic-content-value {
                    font-size: 14px;
                }
            }
        }

        @media screen and (max-width: 751) {
            .epoch {
                max-width: 750px;
                width: 92%;
                position: relative;
                left: 4%;
            }
        }


    }

    .mine-body {
        text-align: center;
        overflow: hidden;
        position: relative;
        display: inline-block;


        .total {
            margin-top: 32px;

            .earn {
                color: rgba(255, 255, 255, 0.8);
                text-align: center;
                line-height: 20px;
                margin-bottom: 12px;
            }

            .amount {
                font-weight: normal;
                font-size: 34px;
                line-height: 52px;
                text-align: center;
                color: #ffffff;
            }

            .text {
                font-weight: normal;
                font-size: 18px;
                line-height: 34px;
                text-align: center;
                color: #ffffff;
            }

            .desc {
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: rgba(255, 255, 255, 0.3);
            }
        }

        @media screen and (min-width: $MobileWidth-M) {



            .mine-content {
                max-width: $MaxWidth;
                width: 100%;
                margin: 34px auto 32px 0;
                display: table;
                overflow: hidden;

                .data-item {
                    .data {
                        margin: 0 auto;
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        box-sizing: border-box;
                        border-radius: 20px;
                        height: 100%;
                        display: table-cell;

                        .data-border {
                            min-width: 300px;
                            margin: 5px;
                            border: 1px solid rgba(255, 255, 255, 0.5);
                            padding: 0 6px 36px 6px;
                            border-radius: 15px;
                            display: inline-block;

                            .price {
                                margin-top: 32px;
                            }

                            .available {
                                margin-top: 24px;
                            }

                            .amount {
                                font-weight: normal;
                                font-size: 34px;
                                line-height: 52px;
                                text-align: center;
                                color: #ffffff;
                            }

                            .text {
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 34px;
                                text-align: center;
                                color: #ffffff;
                            }

                            .claim {
                                margin-top: 8px;
                            }

                            .rewards-today {
                                overflow: hidden;
                                margin-top: 27px;

                                p:first-child {
                                    font-size: 18px;
                                    line-height: 24px;
                                    text-align: center;
                                    color: rgba(255, 255, 255, 0.7);
                                }

                                p:last-child {
                                    font-size: 12px;
                                    line-height: 20px;
                                    text-align: center;
                                    color: rgba(144, 136, 161, 0.8);
                                }
                            }

                            .start {
                                margin-top: 38px;
                            }

                            .apy {
                                border: 1px solid rgba(255, 255, 255, 0.5);
                                box-sizing: border-box;
                                border-radius: 10px;
                                display: flex;
                                justify-content: space-between;
                                height: 34px;
                                margin: 6px 22px;
                                padding: 0 16px;

                                span {
                                    color: #ffffff;
                                    font-size: 16px;
                                    line-height: 34px;
                                    align-items: center;
                                    /*纵轴居中*/
                                }
                            }
                        }
                    }

                    .desc {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 18px;
                        margin-top: 14px;
                        text-align: center;
                        color: rgba(255, 255, 255, 0.5);


                    }

                    .desc:last-child {
                        margin-top: 0px;
                    }


                }

                .data-item:first-child {
                    float: left;
                    // margin-right: 142px;
                }

                .data-item:last-child {
                    float: right;
                }

                .rate {
                    width: auto;
                    min-width: 192px;
                    overflow: hidden;
                    float: left;
                    padding-top: 24px;

                    .amount {
                        font-weight: normal;
                        font-size: 22px;
                        line-height: 34px;
                        text-align: center;
                        color: #ffffff;
                    }

                    .text {
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 26px;
                        text-align: center;
                        color: rgba(255, 255, 255, 0.5);
                        margin-bottom: 32px;
                    }
                }
            }
        }

        @media screen and (max-width: $MobileWidth-M) {
            .mine-content {
                max-width: $MaxWidth;
                width: $BoxContentWidth;
                margin: 34px auto 14px 0;
                display: inline-block;
                flex-direction: row;

                .data-item {
                    .data {
                        margin: 24px auto 45px;
                        border: 1px solid rgba(255, 255, 255, 0.5);
                        box-sizing: border-box;
                        border-radius: 20px;
                        display: inline-block;
                        height: 100%;
                        width: $BoxContentWidth;
                        margin: 0 auto 44px 0;

                        .data-border {
                            width: $BoxButWidth-M;
                            margin: 1%;
                            border: 1px solid rgba(255, 255, 255, 0.5);
                            padding-bottom: 36px;
                            border-radius: 15px;
                            display: inline-block;

                            .price {
                                margin-top: 32px;
                            }

                            .available {
                                margin-top: 24px;
                            }

                            .amount {
                                font-weight: normal;
                                font-size: 34px;
                                line-height: 52px;
                                text-align: center;
                                color: #ffffff;
                            }

                            .text {
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 34px;
                                text-align: center;
                                color: #ffffff;
                            }

                            .claim {
                                margin-top: 8px;
                            }

                            .rewards-today {
                                overflow: hidden;
                                margin-top: 27px;

                                p:first-child {
                                    font-size: 18px;
                                    line-height: 24px;
                                    text-align: center;
                                    color: rgba(255, 255, 255, 0.7);
                                }

                                p:last-child {
                                    font-size: 12px;
                                    line-height: 20px;
                                    text-align: center;
                                    color: rgba(144, 136, 161, 0.8);
                                }
                            }

                            .start {
                                margin-top: 38px;
                            }

                            .apy {
                                border: 1px solid rgba(255, 255, 255, 0.5);
                                box-sizing: border-box;
                                border-radius: 10px;
                                display: flex;
                                justify-content: space-between;
                                height: 34px;
                                margin: 6px 22px;
                                padding: 0 16px;

                                span {
                                    color: #ffffff;
                                    font-size: 16px;
                                    line-height: 34px;
                                }
                            }
                        }
                    }

                    .desc {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        margin-top: 13px;
                        text-align: center;
                        color: rgba(255, 255, 255, 0.5);
                    }
                }

                .rate {
                    padding-bottom: 12px;

                    .amount {
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 34px;
                        text-align: center;
                        color: #ffffff;
                    }

                    .text {
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 26px;
                        text-align: center;
                        color: rgba(255, 255, 255, 0.5);
                        margin-bottom: 32px;
                    }
                }
            }
        }

        .clues {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: rgba(255, 255, 255, 0.3);
            margin-top: 14px;
            margin-bottom: 18px;
        }
    }
}