@import '../styles/variables';

.app-layout {
    overflow: hidden;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    width: 100% !important;
    left: 0;
    padding-top: 80px;
    background: radial-gradient(50% 50% at 50% 50%,
            #151763 0%,
            #15163d 100%) !important;
    overflow-y: scroll;
    height: 100%;

    .ant-layout-content {
        min-height: auto !important;
    }

    .layout-content {
        max-width: $MaxWidth;
        margin: 0 auto;

        @media screen and (max-width: $MobileWidth-M) {
            width: 100%;
        }
    }
}